# 함수

- 함수(function)
  - 특정 작업을 수행하는 코드 묶음
  - 반복적으로 동일한 작업을 수행하기 위해 미리 작성해 둔 코드 블록
  - 입력(parameter, argument)을 받아 출력(return value)을 내보내는 역할(입력 또는 출력이 없을 수도 있음)
  - 함수의 다른 이름: subroutine / procedure / method
<br>
<br>
<br>

- 함수의 사용 목적
  - 효율적인 프로그래밍: 반복되는 코드의 재사용, 설계의 효율성
  - 구조적인 프로그래밍 설계: 문제를 부분적으로 나누어 생각할 수 있다.
<br>
<br>
<br>

- 종류
  - 표준함수: print(), sqrt(), pow(), ...
  - 사용자 정의 함수
<br>
<br>
<br>

- 함수 정의의 기본 형태
```
def  함수명(입력인수):  # 입력값이 없으면 함수명()
    명령1
    명령2
    ...
    return 결괏값       # return 값이 없으면 생략 가능
```
<br>

- return 위치에 주의: return이 나오면 그 즉시 함수가 종료되고 결괏값을 반환

In [1]:
# 두 수의 합
def sum_xy(x,y):
    return x + y

In [2]:
sum_xy(1,3)

4

In [3]:
a = sum_xy(2,3)

In [4]:
a

5

In [5]:
sum_xy(4,5) + 7

16

In [6]:
sum_xy("수학","프로그래밍")

'수학프로그래밍'

In [7]:
# 사각형 넓이
def squareArea(x,y):
    m = x * y
    return m

In [8]:
squareArea(5,10)

50

In [9]:
squareArea("-.-",10)

'-.--.--.--.--.--.--.--.--.--.-'

In [10]:
# 사각형 넓이
def squareArea(x,y):
    if (type(x)==int or type(x)==float) and (type(y)==int or type(y)==float):
        if x > 0 and y > 0:
            m = x * y
            return m
        else:
            print("입력값은 양수로 입력하세요.")
    else:
        print("입력값은 양수로 입력하세요.")

In [11]:
squareArea(5,10)

50

In [12]:
squareArea(-5,10)

입력값은 양수로 입력하세요.

In [13]:
squareArea("-.-",10)

입력값은 양수로 입력하세요.

In [14]:
# 구구단
def mult(n):
    for i in range(1,10):
        print(n*i, end = " ")
    print(" ")

In [15]:
mult(9)

9 18 27 36 45 54 63 72 81

In [16]:
# 함수 내부의 변수는 외부에서 보이지 않음에 유의
mult(7)

7 14 21 28 35 42 49 56 63

In [17]:
type(mult(7))

7 14 21 28 35 42 49 56 63

NoneType

In [18]:
# 구구단
def mult2(n):
    a = ""
    for i in range(1,10):
        a = a + str(n*i) + " "
    return a

In [19]:
mult2(6) # mult2(n)의 a, i는 외부에서 변화가 보이지 않음

'6 12 18 24 30 36 42 48 54 '

In [20]:
type(mult2(6))

str

- `return`과 `print`는 전혀 관계가 없는 함수
- `return`: 함숫값을 함수 외부로 반환하고 함수는 즉시 종료
- `print`: (모니터에) 결과를 출력

---
**<span style="font-size: 20px; color: blue">(Exercise 1)</span>** 

자연수 $m\le i \le n$에 대해 소수인 $i$를 출력하는 함수를 작성하시오.

- 입력형식: 자연수 $m$과 $n$
- 함수명: find_prime
- 출력 형식: 각 줄에 $i$에 대한 소수 판정 결과를 출력
- 입력값에 자연수 $m, n$이 입력되지 않았을 때 실행되지 않도록(오류 메세지 출력)
- $m \ge n$인 경우 실행되지 않도록(오류 메세지 출력)

예) find_prime(100,105)
<br>

출력:
<br>

100 is not a prime<br>
101 is a prime<br>
102 is not a prime<br>
103 is a prime<br>
104 is not a prime<br>
105 is not a prime

---

In [21]:
def find_prime(m,n):
    if not (isinstance(m,int) and isinstance(n,int)):
        print("자연수 m, n을 입력하세요.")
        return
    elif isinstance(m,int) and m <= 0:
        print("자연수 m, n을 입력하세요.")
        return
    elif isinstance(n,int) and n <= 0:
        print("자연수 m, n을 입력하세요.")
        return
    
    if m >= n:
        print("m은 n보다 작아야 합니다.")
        return
    
    for t in range(m,n+1):
        for i in range(2,t):
            if t % i == 0:
                print("%d is not a prime" % t)
                break
            if i > t/2:
                print("%d is a prime" % t)
                break

In [22]:
find_prime(100,105)

100 is not a prime
101 is a prime
102 is not a prime
103 is a prime
104 is not a prime
105 is not a prime

In [23]:
find_prime(100,105.)

자연수 m, n을 입력하세요.

In [24]:
find_prime(100.,105.)

자연수 m, n을 입력하세요.

In [25]:
find_prime(-100,105)

자연수 m, n을 입력하세요.

In [26]:
find_prime(105,100)

m은 n보다 작아야 합니다.

In [42]:
# 값을 반환하도록
def find_prime2(m,n):
    if not (isinstance(m,int) and isinstance(n,int)):
        print("자연수 m, n을 입력하세요.")
        return
    elif isinstance(m,int) and m <= 0:
        print("자연수 m, n을 입력하세요.")
        return
    elif isinstance(n,int) and n <= 0:
        print("자연수 m, n을 입력하세요.")
        return
    
    if m >= n:
        print("m은 n보다 작아야 합니다.")
        return
    
    if m<=2:
        prime_numbers = [2]
    else:
        prime_numbers = []
    for t in range(m,n+1):
        for i in range(2,t):
            if t % i == 0:
                break
            if i > t/2:
                prime_numbers.append(t)
                break
    return prime_numbers

In [28]:
find_prime2(100,105)

[101, 103]

---
**<span style="font-size: 20px; color: blue">(Exercise 2)</span>** 

$3n+1$ 문제에 대한 함수를 작성하시오.

- 입력 형식: 자연수 $n$
- 함수명: threeone
- 출력 형식: $a_1 = $ 본인 학번 mod 1000일 때, 각 줄에 $a_k$를 출력
- 입력값에 자연수 $n$이 입력되지 않았을 때 실행되지 않도록(오류 메세지 출력)

(예) 학번이 2022xx021일 때
<br>
<br>
threeone(21)
<br>

출력:

21 <br> 64 <br> 32 <br> 16 <br> 8 <br> 4 <br> 2 <br> 1

---

$3n+1$ 추측(Collatz Conjecture)

임의의 자연수 $n$에 대해, 다음을 반복하자.
- 1-1) $n$이 짝수이면, $n$을 2로 나눈다.
- 1-2) $n$이 홀수이면, $n$에 3을 곱하고 1을 더한다.
- 2) $n$이 1이면 종료한다.
- 3) $n$이 1이 아니면, 1-1)부터 다시 시작한다.
<br>
<br>

모든 $n$에 대해 이 작업이 1로 끝날까?

---

In [29]:
def threeone(n):
    if isinstance(n,int):
        if n > 0:
            print(n)
    else:
        print("자연수를 입력하세요.")
        return
    while n > 1:
        if n % 2 == 0:
            n /= 2
            print('%d' % n)
        else:
            n = 3 * n + 1
            print('%d' % n)

In [30]:
threeone(100)

100
50
25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [31]:
threeone(100.)

자연수를 입력하세요.

In [32]:
def threeone2(n):
    val = [n]
    if isinstance(n,int):
        if n > 0:
            print(n)
    else:
        print("자연수를 입력하세요.")
        return
    while n > 1:
        if n % 2 == 0:
            n /= 2
            print('%d' % n)
            val.append(int(n))
        else:
            n = 3 * n + 1
            print('%d' % n)
            val.append(int(n))
    return val

In [33]:
val = threeone2(100)

100
50
25
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [ ]:
len(val)

---
**<span style="font-size: 20px; color: blue">(Exercise 3)</span>** 

자연수 1부터 $n$까지의 합을 계산하는 함수를 작성하시오.

- 입력형식: 자연수 $n$
- 함수명: function1
- 출력 형식: 자연수 1부터 $n$까지의 합
- 입력값에 자연수 $n$이 입력되지 않았을 때 실행되지 않도록(오류 메세지 출력)

예) function1(10)
<br>

출력:
<br>

55

---

In [ ]:
def function1(n):
    if isinstance(n,int):
        if n > 0:
            print(n)
    else:
        print("자연수를 입력하세요.")
        return
    
    val = 0
    for i in range(1,n+1):
        val += i
    return val

In [34]:
function1(10)

NameError: name 'function1' is not defined

In [35]:
function1(10.)

NameError: name 'function1' is not defined

---
**<span style="font-size: 20px; color: blue">(Exercise 4)</span>** 

자연수 $1^k$부터 $n^k$까지의 합을 계산하는 함수를 작성하시오.

- 입력형식: 자연수 $n$과 $k$
- 함수명: function2
- 출력 형식: 자연수 $1^k$부터 $n^k$까지의 합
- 입력값에 자연수 $n$과 $k$가 입력되지 않았을 때 실행되지 않도록(오류 메세지 출력)

예) function2(10,2)
<br>

출력:
<br>

385

---

In [36]:
def function2(n,k):
    if not (isinstance(n,int) and isinstance(k,int)):
        print("자연수 n, k를 입력하세요.")
        return
    elif isinstance(n,int) and n <= 0:
        print("자연수 n, k를 입력하세요.")
        return
    elif isinstance(k,int) and k <= 0:
        print("자연수 n, k를 입력하세요.")
        return
    
    val = 0
    for i in range(1,n+1):
        val += i**k
    return val

In [37]:
function2(10,2)

385

---
**<span style="font-size: 20px; color: blue">(Exercise 5)</span>** 

자연수 $1$부터 $n$까지의 소수들의 합을 계산하는 함수를 작성하시오.

- 입력형식: 자연수 $n$
- 함수명: function3
- 출력 형식: 자연수 $1$부터 $n$까지 소수들의 합
- 입력값에 자연수 $n$이 입력되지 않았을 때 실행되지 않도록(오류 메세지 출력)

예) function3(10)
<br>

출력:
<br>

17

---

In [43]:
def function3(n):
    if not isinstance(n,int):
        print("자연수를 입력하세요.")
        return
    
    val = find_prime2(1,n)
    return sum(val)

In [44]:
function3(10)

17

In [46]:
function3(4)

5

---
**<span style="font-size: 20px; color: blue">(Exercise 6)</span>** 

입력된 리스트에서 가장 큰 수를 찾는 함수를 작성하시오.

---

In [47]:
a = [1,5,7,10,8,3]
m = 0
for i in a:
    if m < i:
        m = i

In [48]:
m

10

In [49]:
i

3

In [50]:
def find_max(a):
    m = 0
    for i in a:
        if m < i:
            m = i
    return m

In [52]:
find_max(a)

10

---
**<span style="font-size: 20px; color: blue">(Exercise 7)</span>** 

입력된 리스트를 한 칸씩 당겨서 저장하는 함수를 작성하시오.

예) [1,2,3] $\Rightarrow$ [2,3,1]

---

In [56]:
def shift_list(a):
    for i in range(len(a)-1):
        tmp = a[i]
        a[i] = a[i+1]
        a[i+1] = tmp
    return a

In [57]:
a = [1,2,3,4,5]
b = shift_list(a)
b

[2, 3, 4, 5, 1]

In [58]:
def shift_list2(a):
    for i in range(len(a)-1):
        a[i], a[i+1] = a[i+1], a[i]
    return a

In [61]:
a = [1,2,3,4,5]
c = shift_list(a)
c

[2, 3, 4, 5, 1]

---
**<span style="font-size: 20px; color: blue">(Exercise 8)</span>** 

자연수 $n$을 입력 받아 $\triangledown$ 형태로 $*$을 출력하는 함수를 작성하시오. ($*$ 사이에 공백 1칸)

예) triangledown(6)
<br>

출력

```
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
```
---

In [84]:
def triangledown(n):
    length = 2*n
    for i in range(n,0,-1):
         print(f"{'* '* i:^{length}}")

In [85]:
triangledown(6)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [86]:
triangledown(10)

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [87]:
triangledown(5)

* * * * *
 * * * *
  * * *
   * *
    *

---
**<span style="font-size: 20px; color: blue">(Exercise 9)</span>** 

입력된 리스트의 순서를 역순으로 바꾸는 함수를 작성하시오.

예) [1,2,3,4,5] $\Rightarrow$ [5,4,3,2,1]

---

In [90]:
def flip_list(a):
    l = len(a)
    for j in range(l // 2):
        a[j], a[-(j+1)] = a[-(j+1)], a[j]
    return a

In [91]:
a = [1,2,3,4,5]
flip_list(a)
a

[5, 4, 3, 2, 1]

In [92]:
a = [1,2,3,4,5,6]
flip_list(a)
a

[6, 5, 4, 3, 2, 1]